/**********************************************
Variables declarations
/*********************************************/

//colors
$grey: rgb(80, 92, 85);

//Component specific
$card-front-color: $grey;

// measuraments
$card-height: 300px;
$card-width: 200px;
