/**********************************************
Variables declarations
/*********************************************/

//colors
$grey: rgb(80, 92, 85);

//Component specific
$card-front-color: $grey;

// measuraments
$card-list-max-width: 1000px;
$card-small-size: 200px;
$card-medium-size: 300px;
$card-large-size: 400px;
