/**********************************************
Styles for the Card Component in app/js/Card.js
/*********************************************/

.card{
  // flex-basis: 50%;
  // height: 100%;
  // width: 100%;
  padding: .5em;
  max-width: 50%;
  max-height: 50%;
  perspective: 1000;
  cursor: pointer;
  // @include animate(fadeIn, 0.5);
  // @include generateIntervalAnimation(5);
  //animation-fill-mode:forwards;

  &__container {
    height: $card-small-size;
    width: $card-small-size;
    transition: 0.6s;
	  transform-style: preserve-3d;
	  position: relative;
    border: 6px solid $card-border-color;
    border-radius: 2px;
    box-sizing: content-box;
  }
  &__front, &__back {
    height: $card-small-size;
    width: $card-small-size;
    backface-visibility: hidden;
  	position: absolute;
  	top: 0;
  	left: 0;
  }
  &__front{
    background-color: $card-front-color;
    z-index: 2;
  	transform: rotateY(0deg);
  }
  &__back{
    transform: rotateY(180deg);
  }
  &--flipped{
    .card__container{
      transform: rotateY(180deg);
    }
  }
  &--matched {
    cursor: not-allowed;
    pointer-events: null;
  }
  &__title {

    color: $card-title-color;
    text-shadow: 2px 2px 20px rgb(89, 56, 0);
  }
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
