/************************************************************
Styles for the CardsForm Component in app/js/CardsForm.js
/***********************************************************/

.cards-table{
  text-align: center;
  position: relative;
  height: 100%;
  &__title{
    color: $green;
    margin-top: 2em;
    line-height: 1;
  }
}
