/**********************************************
Styles for the Card Component in app/js/Card.js
/*********************************************/

.card{
  // flex-basis: 50%;
  // height: 100%;
  // width: 100%;
  padding: .5em;
  max-width: 50%;
  max-height: 50%;
  perspective: 1000;

  // @include animate(fadeIn, 0.5);
  // @include generateIntervalAnimation(5);
  //animation-fill-mode:forwards;
  &.not-clicked {
    pointer-events: auto;
  }
  &.hit {
    pointer-events: none;
  }
  &__container {
    height: $card-small-size;
    width: $card-small-size;
    transition: 0.6s;
	  transform-style: preserve-3d;
	  position: relative;
  }
  &__front, &__back {
    height: $card-small-size;
    width: $card-small-size;
    backface-visibility: hidden;
  	position: absolute;
  	top: 0;
  	left: 0;
  }
  &__front{
    background-color: $card-front-color;
    z-index: 2;
  	transform: rotateY(0deg);
  }
  &__back{
    transform: rotateY(180deg);
  }
  &.clicked{
    // pointer-events: none;
    &.flipback {
      .card__container{
        transform: rotateY(0);
      }
    }
    &.not-flip{
      .card__container{
        transform: rotateY(180deg);
      }
    }
    .card__container{
      transform: rotateY(180deg);
    }
  }
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.c-transition-enter {
  opacity: 0.01;
}

.c-transition-enter.c-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.c-transition-leave {
  opacity: 1;
}

.c-transition-leave.c-transition-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
